{% extends 'base.html' %}
<!--Don't forget your import here-->
{% block title %}Add A New Cafe{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8">

      <h1>Add a new cafe into the database</h1>

      <!-- This is where your WTForm will go -->
      <form method="POST" action="/cafes">
        {{ form.csrf_token }}
        {{ form.name.label }} <br>{{ form.name }} <br><br>
        {{ form.location.label }}<br>{{ form.location }} <br><br>
        {{ form.open_.label }}<br> {{ form.open_ }} <br><br>
        {{ form.closed.label }}<br> {{ form.closed }} <br><br>
        {{ form.coffee.label }}<br> {{ form.coffee }} <br><br>
        {{ form.wifi.label }} <br>{{ form.wifi }} <br><br>
        {{ form.power.label }}<br> {{ form.power }} <br><br>
        {{ form.submit }}
    </form>

	  <p class="space-above"><a href="/add">See all cafes</a></p>

    </div>
  </div>
</div>

{% endblock %}
